@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FBCEB1;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.left-content,
.right-content {
    flex-basis: 50%;
}

.left-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    grid-gap: 2rem;
}

.card {
    width: 300px;
    background-color: #fcfcfc;
    border-radius: 10rem;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.right-content {
    width: 30%;
    text-align: center;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 100px;
    right: 10px;
    border: 3px solid white;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
    margin: 10px 10px 10px 10px;
    margin-right: 50px;
}

.right-content img {
    margin: 1.5rem;
    height: 160px;
}

.right-content h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}

.abilities {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.abilities .group {
    background-color: #009325;
    color: rgb(252, 252, 252);
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}

.base-stat {
    margin-top: 2rem;
    color: black;
    text-transform: uppercase;
}

.btn-group {
    display: flex;
}

.btn-group button {
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: rgb(91, 85, 85);
    background-color: #f3f1f1;
    border-radius: 8px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: scale(1.1);
}

.card {
    transition: transform 0.5s;
}